@import '~@ever-platform/common-angular/src/scss/everbie.common';

.discount-circle {
  border: 1px solid $brand-lighted;
  opacity: 0.8;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  border-radius: 5px;
  color: $brand-darken;
  padding: 5px;
  cursor: pointer;

  line-height: 1;
  text-align: center;


  .price
  {
    font-size: 15px;
  }
  
  .price-initial {
    font-size: 15px;
    text-decoration: line-through;
    color: grey;
  }

  i {
    font-size: inherit;
  }
}
